body{
    padding: 0;
    margin: 0;
}

.intro{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.intro > h1{
    position: absolute;
    top: 38%;
    left: 34%;
    color: white;
    font-family: "Gotu", sans-serif;
    font-size: 80px;
    font-weight: 400;
}

.intro > h2{
    position: absolute;
    top: 48%;
    left: 45%;
    color: white;
    font-family: "Gotu", sans-serif;
    font-size: 30px;
    font-weight: 400;
    
}
.skills{padding:0px; margin:0px; 
        
        h1{font-family: "Gotu", sans-serif; 
        font-weight:100; margin-left:750px; padding-top:30px; padding-bottom:0px; margin-bottom:0px;   font-size:50px;}
         
        hr{margin:0px; padding:0px;}

        }
.skills .gif-content{display:flex; 
    gap:50px;justify-content:center; 
    align-items:center;}

.skills .img-content{display:flex; 
    gap:50px;justify-content:center; 
    align-items:center;
}

.skills-container{display:flex; flex-direction:column; 
    gap:20px; margin-top:50px;  justify-content:center; 
    align-items:center;
    }

hr{margin:0px;padding:0px;border: none;
    height: 0;} 
.ThirdPage {
  position:relative;
  background: #EDE8D0;
  width: 100vw;
  height: 100vh;
}

.Linkedin {
  position:absolute;
  background: linear-gradient(to right, #000000, #a97c1c);
  padding: 60px 20px;
  color: #f5ede0;
  width: 100vw;
  height: 25vh;
  margin-top:75vh;
 
}
.Linkedin > a {color:white; font-family: "Gotu", sans-serif; margin-left:770px;  font-size:20px; }
hr{margin:0px; padding:0px;}

.btn-success {
     background: black !important; border:#000000 !important;
       color:white !important; 
       font-family: "Gotu", sans-serif !important;
       border-radius: 50px !important;
       padding: 12px 10px !important;
       width:15vw;

       
   }
.ThirdContent{display:flex; flex-direction:column; 
    margin:0px; gap:150px;
    justify-content:center; 
    align-items:center;
    h1{font-family: "Gotu", sans-serif; font-weight:1000; padding:0px; margin:0px; }
    h3{font-family: "Gotu", sans-serif; font-weight:1000; padding:0px; margin:0px; }

}


              








